 .carousel-inner, .carousel-item{
    position: relative;
}
.banner-content-text h3{
    color: #ffffff;
}
.section_san_pham_noi_bat .evo-owl-cate .evo-feature-cate .featured-content h3 {
    text-transform: uppercase;
    color: #000;
    margin: 0;
    font-size: 20px;
}
.nav-quick-menu .quick-intro .quick-intro-content p {
    font-size: 15px;
    color: #545454;
    line-height: 1.6;}
header.header.header-index .header__left p a {
    color: #fff;
}
header.header .header__left p a {
    color: #000;
}
.nav-quick-menu{
    padding-bottom: 20px;
}
.nav-quick-menu .fix-flex .fix-padding {
    padding: 0;
}
@media (min-width: 992px)
{.col-md-6 {
    width: 50%;
}}
@media (min-width: 992px)
{.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;}}

a, .text-link {
    color: #0657a3;
    text-decoration: none;
    background: transparent;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #1c1c1c;
    letter-spacing: .01em;
}
.section_san_pham_noi_bat .evo-owl-cate .evo-feature-cate .featured-content p {
    margin: 7px 0;
    color: #545454;
}
.quick-intro-img img {
    border: 0 none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}
.banner-content-text button{
        display: inline-block;
        height: 45px;
        min-width: 180px;
        color: #fff;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        border-radius: 35px;
        background-color: #ddac55;
        font-size: 15px;
        line-height: 45px;
        text-transform: uppercase;
        animation: fadeOutRight 1s both;
}
.quick-intro-content {
    background-color: #f6f3e4;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 40px 30px;
}
.banner-img img{
filter: brightness(50%);
}
.banner-content-text{
    
    margin-bottom: 15px;
    color: #ffffff;
    position: absolute;
    top: 40%;
    width: 100%;
    align-items: center ;
    justify-content: center;
    text-align: center;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.4;
}
.home-slider .slider-banner-content h3 {
    margin: 0;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    animation: fadeOutRight 1s both;
}
.home-slider .slick-slide.slick-active .slider-banner-content h3 {
    animation: fadeInDown 1s both 1s;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
html {
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
}
.nav-quick-menu {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-align: center;

} 
.nav-quick-menu a, .best-seller a{
    text-decoration: none;
}
.quick-intro{
    display: flex;
    column-gap: 10px;
}
.quick-intro-img{
    /* vertical-align: middle; */
    border: 0 none;
    max-width: 100%;
    height: auto;
}
.quick-intro-content{
    background-color: #F6F3E4;
}
.section_san_pham .evo-index-product-contain .evo-block-product-slick .evo-product-block-item {
    margin-bottom: 10px;
    margin-top: 10px;
}

.section_san_pham .evo-index-product-contain .evo-block-product-slick .slick-slide {
    margin: 5px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.section_san_pham .evo-index-product-contain .evo-block-product-slick {
    margin-left: -5px;
    margin-right: -5px;
}
.section_san_pham .evo-index-product-contain .evo-block-product-slick .evo-product-block-item .product-thumb img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.evo-product-block-item .product-thumb a img {
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.slick-slide img {
    display: block;
}
img {
    border: 0 none;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
.section_san_pham .evo-index-product-contain .evo-block-product-slick .evo-product-block-item {
    margin-bottom: 10px;
    margin-top: 10px;
}

.section_san_pham .evo-index-product-contain .evo-block-product-slick .slick-slide {
    margin: 5px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.section_san_pham {
    padding-bottom: 20px;
    padding-top: 20px;
}
div{ 
    display: block;
}
.section_san_pham .evo-index-product-contain .evo-block-product-slick .slick-dots {
    text-align: center;
}

ul {
    list-style: none inside;
}
ul, ol {
    margin: 0;
    padding: 0;
}
.evo-product-block-item .product-content .product-desc .product-price {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 700;
    color: #ddac55;
    text-align: center;
}
.evo-product-block-item .product-content .product-desc .product-price del {
    color: #555;
    font-size: 14px;
    margin-right: 5px;
}
.evo-product-block-item .product-content .product-desc .product-title {
    color: #000;
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.container, .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}
.best-seller{
    padding-bottom: 20px;
    padding-top: 20px;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
footer.footer {
    background-color: #fbefe2;
    padding-top: 50px;
}
footer.footer .footer-widget.footer-mailchimp .footer-payment {
    margin-top: 15px;
    text-align: center;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 10px;
    padding-right: 10px;
}

footer.footer .copyright {
    background-color: rgba(255,255,255,0.1);
    padding: 10px 0;
    margin-top: 20px;
    color: #707070;
    border-top: 1px solid rgba(221,172,85,0.3);
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
footer.footer .footer-widget .cms-lists-inner {
    font-size: 13px;
    color: #707070;
    list-style: none;
    margin: 0;
}
li {
    display: list-item;
}
footer.footer .footer-logo-and-info ul li {
    color: #707070;
    font-size: 13px;
}
footer.footer .footer-widget h3 {
    margin-bottom: 25px;
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 0;
    color: #000;
}
footer.footer .footer-widget.footer-mailchimp form input {
    background-color: transparent;
    border: 1px solid #707070;
    padding-right: 60px;
    border-radius: 25px;
    color: #707070;
}
footer.footer .footer-widget.footer-mailchimp .footer-payment img {
    max-width: 35px;
}
img {
    border: 0 none;
    height: auto;
}
img {
    vertical-align: middle;
}
footer.footer .footer-widget.footer-mailchimp form button {
    position: absolute;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    color: #ddac55;
    right: 0;
    top: 0;
    height: 40px;
    padding: 0;
    width: 60px;
    text-align: center;
}
button {
    overflow: visible;
}
footer.footer .footer-widget.footer-mailchimp form button svg {
    position: relative;
    top: 2px;
}
svg:not(:root) {
    overflow: hidden;
}
/* path[Attributes Style] {
    d: path("M 490.24 113.92 c -13.888 -24.704 -28.96 -29.248 -59.648 -30.976 C 399.936 80.864 322.848 80 256.064 80 c -66.912 0 -144.032 0.864 -174.656 2.912 c -30.624 1.76 -45.728 6.272 -59.744 31.008 C 7.36 138.592 0 181.088 0 255.904 C 0 255.968 0 256 0 256 c 0 0.064 0 0.096 0 0.096 v 0.064 c 0 74.496 7.36 117.312 21.664 141.728 c 14.016 24.704 29.088 29.184 59.712 31.264 C 112.032 430.944 189.152 432 256.064 432 c 66.784 0 143.872 -1.056 174.56 -2.816 c 30.688 -2.08 45.76 -6.56 59.648 -31.264 C 504.704 373.504 512 330.688 512 256.192 c 0 0 0 -0.096 0 -0.16 c 0 0 0 -0.064 0 -0.096 C 512 181.088 504.704 138.592 490.24 113.92 Z M 192 352 V 160 l 160 96 L 192 352 Z");
    fill: rgb(112, 112, 112);
} */

:not(svg) {
    transform-origin: 0px 0px;
}
footer.footer .copyright .footer-social {
    margin-top: 7px;
    text-align: center;
}
/* svg[Attributes ] {
    x: 0px;
    y: 0px;
    width: 15px;
    height: 15px;
} */
.section_gift {
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
    margin-top: 20px;
}
.section_gift .gift-gallery {
    margin-bottom: 25px;
}
/* .footer-social{
    padding: 0 500px 0 500px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
} */
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

footer.footer .footer-widget h3 {
    margin-bottom: 25px;
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 0;
    color: #000;
}
footer.footer .footer-widget.footer-mailchimp p {
    color: #707070;
    font-size: 13px;
    margin-bottom: 10px;
}
p {
    margin: 0 0 15px 0;
}
footer.footer .footer-widget.footer-mailchimp form {
    margin-bottom: 0;
    position: relative;
}
form {
    display: block;
    margin-top: 0em;
}
footer.footer .footer-widget.footer-mailchimp form input {
    background-color: transparent;
    border: 1px solid #707070;
    padding-right: 60px;
    border-radius: 25px;
    color: #707070;
}
footer.footer .copyright .footer-social {
    margin-top: 7px;
    text-align: center;
}
ul {
    list-style: none inside;
}
ul, ol {
    margin: 0;
    padding: 0;
}
svg:not(:root) {
    overflow: hidden;
}
svg {
    x: 0px;
    y: 0px;
    width: 18px;
    height: 18px;
}
footer.footer .copyright {
    background-color: rgba(255,255,255,0.1);
    padding: 10px 0;
    margin-top: 20px;
    color: #707070;
    border-top: 1px solid rgba(221,172,85,0.3);
}
footer .copyright {
    text-align: center;
    color: #fff;
    font-size: 1em;
    position: relative;
    font-size: 12px;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #333f48;
}
body, input, textarea, button, select {
    line-height: 1.7;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.25px;
}
footer {
    position: relative;
}
@media (min-width: 992px)
{.col-md-push-4 {
    left: 33.33333333%;
}}
@media (min-width: 992px)
{.col-md-4 {
    width: 33.33333333%;
}}
@media (min-width: 992px)
{.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}}
@media (min-width: 768px)
{.col-md-push-4 {
    left: 33.33333333%;
}}
@media (min-width: 768px)
{.col-md-4 {
    width: 33.33333333%;
}}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px)
{.col-md-pull-4 {
    right: 33.33333333%;
}}
@media (min-width: 992px)
{.col-md-4 {
    width: 33.33333333%;
}}
@media (min-width: 768px)
{.col-sm-pull-4 {
    right: 33.33333333%;
}}
@media (min-width: 768px)
{.col-sm-4 {
    width: 33.33333333%;
}}
*, input, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width: 480px)
{.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 7px;
    padding-right: 7px;
}}
.awe-section-6 {
    margin-bottom: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display:block;
}
.section_blogs .new_title {
    text-transform: uppercase;
    margin: 0;
    font-size: 30px;
    color: #000;
    padding-bottom: 25px;
    text-align: center;
}
.section_blogs {
    padding: 30px 0;
}
@media (max-width: 991px)
{.section_blogs .evo-owl-blog .news-items .evo-item-blogs .evo-article-content {
    padding: 15px;
}}
.section_blogs .evo-owl-blog .news-items .evo-item-blogs .evo-article-content {
    padding: 25px;
    background-color: #f9f9f9;
}
/* .section_blogs .evo-owl-blog .news-items .evo-item-blogs .evo-article-image img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.slick-slide img {
    display: block;
} */
element.style {
    opacity: 1;
    width: 1548px;
    transform: translate3d(0px, 0px, 0px);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section_blogs .evo-owl-blog .news-items .evo-item-blogs .evo-article-content {
    padding: 25px;
    background-color: #f9f9f9;
}

@supports (-webkit-line-clamp: 2)
{.section_blogs .evo-owl-blog .news-items .evo-item-blogs .evo-article-content .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 47px;
    height: auto;
    min-height: 47px;
}}
.section_blogs .evo-owl-blog .news-items .evo-item-blogs .evo-article-content h3 {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.67;
    margin: 0;
}
.section_blogs .evo-owl-blog .news-items .evo-item-blogs .evo-article-content h3 a {
    color: #1c1c1c;
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
    text-decoration: none;
    font-weight: inherit;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.section_blogs .evo-owl-blog .news-items .evo-item-blogs .evo-article-content .line-clamp {
    position: relative;
    height: 47px;
    overflow: hidden;
    display: block;
}
.section_blogs .evo-owl-blog .news-items .evo-item-blogs .evo-article-content p {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.52px;
    margin-bottom: 0;
    color: #545454;
    text-align: left;
    word-wrap: break-word;
    margin-top: 5px;
}
p {
    margin: 0 0 15px 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

element.style {
    display: block;
}
.section_blogs .evo-owl-blog .slick-dots {
    text-align: center;
}
body, input, textarea, button, select {
    line-height: 1.7;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.25px;
}
.section_gift .gift-list-product .evo-product-slide-item .product-detail h3 a {
    color: #333;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
    text-decoration: none;
    font-weight: inherit;
}
.section_gift .gift-list-product .evo-product-slide-item .product-detail .box-pro-prices .pro-price {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    color: #ddac55;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.4;
}
.section_gift .gift-list-product .evo-product-slide-item .product-detail h3 {
    margin: 0 0 5px;
    font-size: 14px;
    position: relative;
}
/* h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #1c1c1c;
    letter-spacing: .01em;
} */
.section_gift .gift-list-product .evo-product-slide-item .product-img a.image-resize img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
img {
    border: 0 none;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
.section_gift .gift-list-product .evo-product-slide-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.section_gift .gift-list-product .evo-product-slide-item .product-img .label_product span {
    position: relative;
    display: inline-block;
    background: #ddac55;
    color: white;
    height: 26px;
    width: 26px;
    text-align: center;
    vertical-align: middle;
    line-height: 26px;
    margin: 0;
    transform: rotate(-20deg);
    animation: beat 1s ease infinite alternate;
    font-size: 12px;
    font-weight: bold;
}
.section_gift .gift-list-product .evo-product-slide-item .product-img .label_product span:after {
    transform: rotate(60deg);
}
.section_gift .gift-list-product .evo-product-slide-item .product-img .label_product span:before, .section_gift .gift-list-product .evo-product-slide-item .product-img .label_product span:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
}
.section_gift .gift-list-product .evo-product-slide-item .product-img a.image-resize img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.section_gift .gift-list-product .evo-product-slide-item {
 
    display: flex;}
.blog-date{
 text-align: center;
 color: #000;
 text-decoration: none;
}

